{% extends 'ContentBundle:ContentItem:contentItemLayout.html.twig'%}

{% block page_content %}

    <h2 class="ui header">
        <i class="edit icon"></i>
        <div class="content">
            New Item
        </div>
    </h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="ui teal button">Create</button>
    {{ form_end(form) }}
{% endblock %}
